
.edit_div_topo{
    display: flex;
    width: 100%;
    background-color:  rgb(19, 18, 18);
}
.edit_bg{
    width: 70%;
    height: 75vh;
    margin: 2%;
    
    background-repeat: no-repeat;
}
.edit_bg_texto{
    width: 90%;
    margin: 5% 0 0 0;
    text-align: center;
    text-align: center;
    font-family:badScript;
    color: whitesmoke;
    font-size: 25px;
    letter-spacing: 5px;
    
}
.edit_texto_p{
    font-family: badScript; 
    padding: 2% 3%; 
    font-size: 18px;
    color: whitesmoke;
    letter-spacing: 2px;
    line-height: 32px;
}

@media only screen and (max-width: 1200px){
    .edit_div_topo{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:  rgb(19, 18, 18);
    }

    .edit_bg{
        margin: 0 auto;
        height: 450px;
        object-fit: cover;
        object-position: center;
}
.edit_bg_texto{   
    width: 95%;
    margin-top: 5%;
    object-fit: cover;
    object-position: center;

}
.edit_texto_p{
    text-align: center;
  }

}

@media only screen and (max-width: 790px) {
    .edit_bg{
        margin: 0 auto;
        height: 450px;
        object-fit: cover;
        object-position: center;
}
}
@media only screen and (max-width: 450px){
    .edit_bg_texto{
        width: 100%;
        font-size: 18px;
        margin-top: 10%;
        object-fit: cover;
        object-position: center;
    }
    .edit_texto_p{
        font-size: 15px;
    }
}