@font-face{
  font-family: badScript;
  src: url('../../Assets/Fonte/CinzelDecorative-Regular.ttf')
}

.main {
  height: 90vh;
  background-image: url("../../Assets/Image/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.h1{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 45vh;
  align-items: center;
  font-family: badScript;
  background-color: rgba(87, 140, 190, 0.6);
}