
@font-face{
  font-family: badScript;
  src: url('../../Assets/Fonte/CinzelDecorative-Regular.ttf')
}

.cabecalho {
  display: grid;
  grid-template-columns: 5fr;
  justify-content: space-around;
  height: 150px;
  background-color: #001144;
}

.nav {
  display: flex;
  align-self: center;
  justify-content: space-around;
}

.logo {
  text-decoration: none;
  padding: 8px;
  align-self: center;
}

.item {
  font-family: badScript;
  font-size: 19px;
  list-style: none;
  text-decoration: none;
  color: #cfcf3c;
  font-weight: bold;
  padding: 10px;
  align-self: center;
}

.logo:hover,
.item:focus,
.item:hover {
  color: #f2a951;
}
