.main{
    height: 90vh;
    background-color: #131212;
    color: white;
}

.div{
    display: grid;
    height: inherit;
    gap: 10px;
    justify-items: center;
    align-content: space-around;
}

.form{
    display: grid;
    height: inherit;
    grid-template-areas:
    'input'
    'input'
    'input'
    'input'
    'input'
    'input'
    'submit';
    gap: 10px;
    justify-items: center;
    align-content: center;
}
.label{
    grid-area: input;
    grid-row: 1fr;
}
.submit{
    grid-area: submit;
    grid-row: 1fr;
}