@font-face{
    font-family: badScript;
    src: url('../../Assets/Fonte/CinzelDecorative-Regular.ttf')
}
.edit-icone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(19, 18, 18);
}
.edit-icone > img{
    width: 400px;
    margin: 0 auto;
}

.edit-p{
    width: 100%;
    color: whitesmoke;
    font-family: badScript; 
    font-size: 35px;
    font-weight: bolder;
    margin: 2%;
    width: 400px;
    display: flex;
    justify-content: center;
    
}
@media only screen and (max-width: 1200px){

    .edit-icone{
        width: 100%;
      }
      .edit-bg-texto-seta-p{
        margin: 0 auto;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
        
    }
}
@media only screen and (max-width: 790px){
    .edit-bg-texto{
        width: 100%;
        margin-top: 5%;
        object-fit: cover;
        object-position: center;

}
    .edit-bg-texto-seta-p{
        margin: 0 auto;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
}
}
@media only screen and (max-width: 460px){
    .edit-bg-texto-seta-p{
        margin: 0 auto;
        width: 100%;  
        object-fit: cover;
        object-position: center;
    
    }
    .edit-p{
        width: 100%;
    }
    .edit-icone > img{
        width: 100%;
        margin-top: 5%;
        object-fit: cover;
        object-position: center;

    }

}

